body {
    background: #e5e5e5;
    color: #25282b;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#container {
    max-width: 980px;
    width: 90%;
    margin: 40px auto;
    display: flex;
}

#intro {
    width: 300px;
    margin-right: 20px;
}

main {
    margin: 32px 0;
}

.hide {
    display: none;
}

a {
    color: #ff5e84;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, .description {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 32px;
}

button {
    border: none;
    color: #ff5e84;
    font-weight: bold;
    background: none;
    cursor: pointer;
    outline: none;
}

button:hover {
    text-decoration: underline;
}

.fat {
    color: white;
    background: #ff5e84;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 8px 16px #ff5e8432;
}

#footer {
    text-align: center;
}

.idea {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 16px -8px black;
    padding: 32px;
    margin-bottom: 32px;
    border-radius: 8px;
}

.idea img {
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3 {
    margin: 0;
}

.idea p {
    margin: 8px 0;
    color: #777;
}

p, .description {
    margin: 16px;
}